!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %script{ type: 'text/javascript', src: 'jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'underscore-min.js' }
  %script{ type: 'text/javascript', src: 'backbone-min.js' }
  %script{ type: 'text/javascript', src: 'jpc.js' }

%body
  :css
    body {
      background: #c6cac1;
    }

    #pads {
      width: 750px
    }

    button {
      background: #acb0ae;
      box-shadow: 0 0 3px #222;
      border: none;
      height: 150px;
      width:  150px;
      margin: 10px
    }

    button.active {
      background: #ca8f8f;
      position: relative;
      top: 1px
    }

  #jpc
    #pads
      %button#113.pad
      %button#119.pad
      %button#101.pad
      %button#114.pad
      %button#97.pad
      %button#115.pad
      %button#100.pad
      %button#102.pad
      %button#122.pad
      %button#120.pad
      %button#99.pad
      %button#118.pad

    #params
      %label{ for: 'choke_group' } Choke Group
      %select#choke_group{ disabled: 'disabled' }
        %option
        %option 1
        %option 2
        %option 3
        %option 4
