!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %script{ type: 'text/javascript', src: 'jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'underscore-min.js' }
  %script{ type: 'text/javascript', src: 'backbone-min.js' }
  %script{ type: 'text/javascript', src: 'jpc.js' }

%body
  :css
    body {
      background: #EAEEE4;
    }

    #pads {
      width: 695px;
      background: #4c4e48;
      padding: 15px;
    }

    button {
      background: -webkit-linear-gradient(bottom, rgb(166,166,166) 0%, rgb(189,189,189) 80%, rgb(209,209,209) 96%);
      box-shadow: 0 0 3px #222;
      border: none;
      height: 150px;
      width:  150px;
      margin: 10px
    }

    @-webkit-keyframes pad_hit {
      0%   { background: #f56b6b; }
      100% { background: #ca8f8f; }
    }

    button.pressed {
      -webkit-animation: pad_hit 0.1s 1;
    }

    button.active {
      background: -webkit-linear-gradient(bottom, rgb(194,97,97) 0%, rgb(227,150,160) 50%, rgb(240,173,173) 75%);
      position: relative;
      top: 1px;
    }


  #jpc
    #pads
      %button#113.pad
      %button#119.pad
      %button#101.pad
      %button#114.pad
      %button#97.pad
      %button#115.pad
      %button#100.pad
      %button#102.pad
      %button#122.pad
      %button#120.pad
      %button#99.pad
      %button#118.pad

    #params
      %label{ for: 'choke_group' } Choke Group
      %select#choke_group{ disabled: 'disabled' }
        %option
        %option 1
        %option 2
        %option 3
        %option 4
