!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %script{ type: 'text/javascript', src: 'jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'underscore-min.js' }
  %script{ type: 'text/javascript', src: 'backbone-min.js' }
  %script{ type: 'text/javascript', src: 'jpc.js' }

%body
  :css
    #pads {
      width: 750px
    }

    button {
      height: 150px;
      width:  150px;
      margin: 10px
    }

  #jpc
    #pads
      %button#113.pad
      %button#119.pad
      %button#101.pad
      %button#114.pad
      %button#97.pad
      %button#115.pad
      %button#100.pad
      %button#102.pad
      %button#122.pad
      %button#120.pad
      %button#99.pad
      %button#118.pad

