!!!5
%head
  %title JPC2000 &ndash; JavaScript Production Center

  %script{ type: 'text/javascript', src: 'jquery-1.7.1.min.js' }
  %script{ type: 'text/javascript', src: 'underscore-min.js' }
  %script{ type: 'text/javascript', src: 'backbone-min.js' }
  %script{ type: 'text/javascript', src: 'jpc.js' }

%body
  :css

    * {
      border-radius: 5px
    }

    body {
      background: -webkit-linear-gradient(bottom, rgb(191,194,188) 0%, rgb(206,210,201) 50%);
      font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      text-transform: uppercase;
    }

    #logo {
      margin: 20px 5px;
    }

    #jpc #logo h1 {
      background: url('/logo.png') no-repeat;
      width: 370px;
      height: 60px;
      text-indent: -9999px;
    }

    #logo h1, #logo h2 {
      margin: 5px 0;
    }

    #logo h2 {
      font-weight: 400;
      font-size: 90%;
      letter-spacing: 4px;
      word-spacing: 7px;
      color: #555;
    }

    #logo {
      width: 370px;
    }

    #logo #rule {
      border-left 185px solid #f00
    }

    #pads {
      width: 695px;
      background: -webkit-linear-gradient(bottom, rgb(80,96,97) 0%, rgb(99,119,122) 100%);
      padding: 15px;
      vertical-align: baseline;
      border-radius: 10px
    }

    #pads button {
      background: -webkit-linear-gradient(bottom, rgb(166,166,166) 0%, rgb(189,189,189) 80%, rgb(209,209,209) 96%);
      box-shadow: 0 0 3px #222;
      border: none;
      height: 150px;
      width:  150px;
      margin: 10px;
    }

    @-webkit-keyframes pad_hit {
      0%   { background: #f56b6b; }
      100% { background: #ca8f8f; }
    }

    button.pressed {
      -webkit-animation: pad_hit 0.1s 1;
    }

    #pads button.active {
      background: #ca8f8f;
    }

  #jpc
    #logo
      %h1 JPC2000
      %h2 JavaScript Production Center

    #transport
      %button#record record
      %button#play play
      %button#stop stop

    #pads
      %button#113.pad
      %button#119.pad
      %button#101.pad
      %button#114.pad
      %button#97.pad
      %button#115.pad
      %button#100.pad
      %button#102.pad
      %button#122.pad
      %button#120.pad
      %button#99.pad
      %button#118.pad

    #params
      %label{ for: 'choke_group' } Choke Group
      %select#choke_group{ disabled: 'disabled' }
        %option
        %option 1
        %option 2
        %option 3
        %option 4
